@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$font-nunito: 'Nunito', sans-serif;

$color-text-default: #5A5C69;
$background-color-default: #F7F8FB;
$background-header-footer: #FFFFFF;
$button: #4E73DF;
$button-active: #1CC88A;
$background-card-header: #F8F9FC;
$card-header-shadow: rgba(58, 59, 69, .15);
$table-border-color: #E3E6F0;
